{include file="public/head_menu"}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <!--<fieldset class="table-search-fieldset">-->
        <!--    <legend>搜索信息</legend>-->
        <!--    <div style="margin: 10px 10px 10px 10px">-->
        <!--        <form class="layui-form layui-form-pane" action="">-->
        <!--            <div class="layui-form-item">-->
        <!--                <div class="layui-inline">-->
        <!--                    <label class="layui-form-label">img</label>-->
        <!--                    <div class="layui-input-inline">-->
        <!--                        <input type="text" name="username" autocomplete="off" class="layui-input">-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="layui-inline">-->
        <!--                    <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </form>-->
        <!--    </div>-->
        <!--</fieldset>-->
        
        
        <div class="layui-form-item">
            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-norma layui-bg-blue" id="test1">
                  <i class="layui-icon">&#xe67c;</i>选择轮播图
                </button>
                <img id="dome_img" src="">
                <input type="hidden" id="add_imgSrc">
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="text" id="add_text" lay-verify="text" autocomplete="off" class="layui-input" placeholder="填写图片描述">
                </div>
            </div>
            
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-bg-blue" onclick="add_shuffling()">
            <i class="layui-icon layui-icon-ok-circle"></i>
            </button>
        </div>
            
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">

                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>
        
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

       <!-- <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>-->

    </div>
</div>
{include file="public/jquery"}
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            upload = layui.upload;

        table.render({
            elem: '#currentTableId',
            url: '/admin/api/api_console_imgs',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'imgSrc', width: 80, title: '图片', templet:imgsrc},
                {field: 'text', width: 80, title: '描述'},
                {field: 'addtime', title: '创建时间',templet:addtime},
                // {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });
        
        
        // 渲染图片
        function imgsrc(d){
            return '<img src='+d.imgSrc+' width=100% onclick=imgsrcbag("'+d.imgSrc+'","'+d.text+'")>'
        }
        
        function addtime(d){
            var time =  new Date(parseInt(d.addtime) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');
           return time;
            
        }

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/add.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                    
                    var _data = JSON.stringify(data);
                    if(_data.length < 3){
                        layer.msg('请选择要删除的图片');
                        return;
                    }
                    console.log(_data)
                    $.post('/delete_shuffling',{'data':_data},function(res){
                        if(res.code>0){
                           layer.msg(res.msg,{icon:3}); 
                        }else{
                           layer.msg(res.msg,{icon:1});
                           setTimeout(function(){location.reload();},1000);
                        }
                    },'json');
               // layer.alert(JSON.stringify(data));
                
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/edit.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });
        
        
          //执行实例
          var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/upload_shuffling' //上传接口
            ,done: function(res){
              //上传完毕回调
              console.log(res);
              $('#add_imgSrc').val(res.imgUrl);
              $('#dome_img').attr('src',res.imgUrl);
            }
            ,error: function(){
              //请求异常回调
            }
          });

    });
    
    function imgsrcbag(img,title){
        layer.open({
          title:title,
          type: 1, 
          area: ['500px', '300px'],
          content: '<img src="'+img+'" width=100%>' //这里content是一个普通的String
        });
    }
    
    function add_shuffling(){
        var imgSrc = $('#add_imgSrc').val(),add_text = $('#add_text').val();
        
        if(!imgSrc){
            layer.msg('请先上传图片');
            return;
        }
        if(!add_text){
            layer.msg('请填写描述');
            return;
        }
        
        var index = layer.load();
        $.get('/mysql_shuffling',{'imgSrc':imgSrc,'text':add_text},function(res){
            if(res.code>0){
                layer.msg(res.msg);
                layer.close(index);
            }else{
                layer.msg(res.msg); 
                layer.close(index);
                setTimeout(function(){location.reload();},1000);
            }
        },'json');
    }
</script>

</body>
</html>