{include file="public/head_menu" /}
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="order_id" autocomplete="off" class="layui-input" placeholder="请输入订单id">
                            </div>
                        </div>
                        
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="Clean_up"> 一键清除所用过期订单 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="__STATIC__/admin/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/api_order_list',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'order_id', width: 100, title: '订单ID'},
                {field: 'order_state', width: 100, title: '订单状态', templet:order_state},
                {field: 'order_pay', width: 100, title: '支付方式', templet:order_pay},
                {field: 'order_price', width: 100, title: '支付金额'},
                {field: 'order_input', width: 100, title: '购买时常'},
                {field: 'user_id', width: 100, title: '下单用户ID',},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });
        
        function order_state(d){
            if(d.order_state == 0){
              return '<span class="layui-badge layui-bg-blue">已支付</span>'  
            }else if(d.order_state == 1){
              return '<span class="layui-badge layui-bg-orange">待支付</span>'  
            }else if(d.order_state == 2){
              return '<span class="layui-badge">已过期</span>'
            }
            
        }
        
        function order_pay(d){
            if(d.order_pay == 'alipay'){
                return '<img src="__STATIC__/admin/images/zfb.svg" width="64px">';
            }else{
                return '<img src="__STATIC__/admin/images/vx.svg" width="64px">'
            }
        }

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            // layer.alert(result, {
            //     title: '最终的搜索信息'
            // });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加虚拟主机产品',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/add_shop',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'Clean_up') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                
                
                layer.open({
                  content: '确认清除过期订单吗？',
                  yes: function(index, layero){
                    var load = layer.load(2,{time: 10*1000});  
                    $.post('/admin/api/clean_up_order',function(res){
                        if(res.code>0){
                           layer.msg(res.msg,{icon:2}); 
                           layer.close(load);
                        }else{
                           layer.msg(res.msg,{icon:1});
                           layer.close(load);
                           setTimeout(function(){location.reload();},1000);
                        }
                    },'json');
                  }
                });        
      

                
                //layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/edit.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>