<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>控制台首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/admin/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="__STATIC__/admin/css/public.css" media="all">
</head>
<style>
    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:15px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
</style>
<body>
<div class="layuimini-container">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <h5>虚拟主机数量</h5>
                            </div>
                            <div class="panel-content">
                                <br>
                                <h1 class="no-margins">{$data.count1 | default='暂无数据'}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <h5>云服务器数量</h5>
                            </div>
                            <div class="panel-content">
                                <br>
                                <h1 class="no-margins">0</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <h5>FTP数量</h5>
                            </div>
                            <div class="panel-content">
                                <br>
                                <h1 class="no-margins">{$data.count2 | default='暂无数据'}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <h5>数据库数量</h5>
                            </div>
                            <div class="panel-content">
                                <br>
                                <h1 class="no-margins">{$data.count3 | default='暂无数据'}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-box" style="margin:30px;">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="layui-carousel" id="test1">
                  <div carousel-item>
                     {volist name="data.shuffling" id="shuffling"}
                    <div><img src="{$shuffling.imgSrc}" width="100%"></div>
                    {/volist}
                  </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <h1 style="color:#000;">公告</h1>
                <br>
                <ul class="layui-timeline">
                    {volist name="data.affiche" id="affiche"}
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">{:date('Y-m-d H:i:s',$affiche.time)}</h3>
                            <p>
                               {$affiche.text}
                            </p>
                        </div>
                    </li>
                    {/volist}
                    {$data.affiche_page}

                </ul>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/admin/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use('carousel', function(){
      var carousel = layui.carousel;
      //建造实例
      carousel.render({
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always' //始终显示箭头
        //,anim: 'updown' //切换动画方式
      });
    });
</script>
</body>
</html>